.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.todo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.todo-items {
  margin: 4px;
  border-radius: 4px;
}
.todo-items:nth-child(even) {
  background-color: #be98b9;
  color: white;
  font-size: large;
  font-weight: 400;
  padding: 5px;
  display: flex;
  width: max-content;
}
.todo-items:nth-child(odd) {
  background-color: #b4d7e6;
  color: white;
  font-size: large;
  font-weight: 400;
  padding: 5px;
  display: flex;

  width: max-content;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
a {
  text-decoration: none;
  color: white;
  background-color: #282c34;
  border: 2px solid #61dafb;
  border-radius: 5px;
  height: 10px;
  width: 30px;
  padding: 10px;
  font-weight: 400;
}
.App-main {
  height: 83vh;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #282c34;
  color: white;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.counter {
  padding-top: 80px;
}
.App-link {
  color: #61dafb;
}
.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #61dafb;
  margin-top: 10px;
  padding: 20px;
}
.options {
  padding: 5px;
  color: white;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.login {
  border: 3px solid white;
  background-color: #61dafb;
  padding: 3px;
}
.Login-header {
  border: 3px solid white;
  padding: 3px;
  margin: 3px;
}
.footer {
  border: solid 13px black;
  background-color: white;
  display: flex;
  justify-content: center;
  padding-top: 26px;
  padding-bottom: 12px;
  align-items: end;
  color: #282c34;
  position: absolute;
  top: 90vh;
  width: 100vw;
}
.options a:hover {
  color: #282c34;
  background-color: white;
  border: 4px solid white;
  font-size: large;
  font-weight: 400;
}

.student:nth-child(even) {
  background-color: #61dafb;
  color: white;
  font-size: large;
  font-weight: 400;
  padding: 5px;
}
.student:nth-child(odd) {
  background-color: #282c34;
  color: white;
  font-size: large;
  font-weight: 400;
  padding: 5px;
}
.todo-form input {
  width: 200px;
  height: 30px;
  font-size: large;
}
.todo-todo-item {
  margin: 8px;
}
.btn {
  border-radius: 8px;
  border: solid 4px #61dafb;
  background-color: white;
  margin: 5px;
  height: 40px;
  font-size: large;
}
.del:nth-of-type(even) {
  border-radius: 5px;
  border: solid 4px #61dafb;
  background-color: white;
}
.del:nth-of-type(odd) {
  border-radius: 5px;
  border: solid 4px #b73d80;
  background-color: white;
}
.todo-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #a5d677;
  padding-bottom: 70px;
}
.todoh1 {
  color: #04212e;
}
.stu {
  margin-top: 5px;
}
.menuname {
  font-size: large;
  font-weight: 700;
  color: #04212e;
}
.btn:active {
  border: 4px #26366a solid;
}
.BTN {
  padding: 10px;
}
.ecomdatalist {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  margin: 10px;
  flex-wrap: wrap;
}
.ecomdata {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px;
  background-color: #b4d7e6;
  width: max-content;
  padding: 10px;
}
.ecomdata h2 {
  margin: 5px;
}
